<!DOCTYPE HTML>
<html>

<head>
    <title>Forgot Password Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
        content="Reset Password Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!--google fonts-->
    <link href="{{ url_for('static', path='/css/edit.css') }}" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>

<body>
    <!--element start here-->
    <div class="elelment">
        <h2>Forgot Password Form</h2>
        <div class="element-main">
            <h1>Forgot Password</h1>
            <p> Please enter your email to verify it's you.</p>
            <form action="/auth/forgot_password" method="post">
                <!-- <input type="email" name="userEmail" id="userEmail" class="input-text" placeholder="Your Email" required
                    pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"> -->
                <div class="form-row-total">
                    <div class="form-row">
                        <input type="text" name="userEmail" id="userEmail" class="input-text" placeholder="Your Email"
                            required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                    </div>
                </div>
                <input type="submit" value="Verify your email">
                {% if error_message %}
                <p style="color: red; margin-top: 35px; white-space: nowrap;">{{ error_message }}</p>
                {% endif %}
                {% if error_msg %}
                <p style="color: red; margin-top: 35px; white-space: nowrap;">{{ error_message }}</p>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="copy-right">
        <p>© 2016 Reset Password Form. All rights reserved | Template by <a href="http://w3layouts.com/"
                target="_blank"> W3layouts </a></p>
    </div>

    <!--element end here-->
</body>

</html>