{% extends "base.html" %}


{% block content %}

<style>
    a {
        margin-left: 80px;
        color: whitesmoke;
    }
</style>
<div style="margin-left: 250px;">
    <form class="form-detail" action="/auth/login" method="post">

        <h2 style="margin-right: 250px;">Login Form</h2>
        <div class="form-row-total">
            <div class="form-row">
                <input type="text" name="email" id="your-email" class="input-text" placeholder="Your Email" required
                    pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
            </div>
        </div>
        <div class="form-row-total">
            <div class="form-row">
                <input type="password" name="password" id="password" class="input-text" placeholder="Your Password"
                    required>
                {% if error_message %}
                <p style="color: red; margin-top: 2px; white-space: nowrap;">{{ error_message }}</p>
                {% endif %}
            </div>
        </div>
        <div class=" form-row-last">

            <input type="submit" name="register" class="register" value="Login" style="margin-right: 255px;">
        </div>
        <p><a href="/auth/forgot_password" class="move-up"> Forgot password?</a></p>
    </form>

</div>
{% endblock content%}