<!DOCTYPE HTML>
<html>

<head>
    <title>Reset Password Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
        content="Reset Password Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!--google fonts-->

    <link href="{{ url_for('static', path='/css/edit.css') }}" rel="stylesheet">

    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <style>
        .edit-form {
            padding-right: 200px;
            margin-bottom: 50px;
            margin-left: 50px;
            height: 45px;
            text-align: end;
            border: 1px solid #B9B9B9;
            color: #A29E9E;
            display: block;
        }
    </style>
</head>

<body>
    <!--element start here-->
    <div class="elelment">
        <h2>Reset Password Form</h2>
        <div class="element-main">
            <h1>Reset Your Password</h1>
            <p> We've sent you an email with instructions to reset your password.</p>
            <form action="/auth/reset_password" method="post">
                <input type="password" name="new_password" placeholder="New Password" class="edit-form">
                <input type="password" name="confirm_password" placeholder="Confirm Password" class="edit-form">
                <input type="hidden" name="reset_password_token" value="{{reset_password_token}}">
                <input type="submit" value="Reset my Password">

                {% if token_error_message %}
                <p style="color: red; margin-top: 30px; white-space: nowrap;">{{ token_error_message }}</p>
                {% endif %}
                {% if error_message %}
                <p style="color: red; margin-top: 30px; white-space: nowrap;">{{ error_message }}</p>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="copy-right">
        <p>© 2016 Reset Password Form. All rights reserved | Template by <a href="http://w3layouts.com/"
                target="_blank"> W3layouts </a></p>
    </div>

    <!--element end here-->
</body>

</html>